.mainGot-font {
    font-family: "Game of Thrones", serif;
    font-size: 1.4em;
    text-align: center;

    font-weight: bold;
    text-shadow: 5px 5px 5px black;
    color: cornsilk;

}

.mainLeft-container {

    width: 80vw;
  height:100%;

    background-image: url(/assets/site/mapblue.jpg);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    


}


.mainRight-container {
    width: 20vw;
    
    background-image: url(/assets/site/wood.jpg);
    justify-content: space-around;
    flex-direction: column;
    display: flex;
    
    text-align: center;


}

.mainTable {
    display: flex;
 


}





.personsPhoto {
    
    justify-content: space-around;
    margin: 10px;
    border-radius: 50%;
    
    
    
}

.personsPhoto:hover {
    box-shadow: 0 0 50px black;
    
}

.persons {
    
    text-align: center;
    flex: 0 0 12.5% ;
    margin-bottom: 14px;
    




}

body {
    margin: 0;
}

.personsDetailName {
    color: cornsilk;
    font-weight: bold;
    font-size: 24px;
    padding-top: 10px;
}

.personsHousePhoto {
    text-align: right; 
    
}

.bio {
    color: cornsilk;
    padding-top: 10px;
    font-size: 20px;
}

.details {
    flex-grow: 1;
}

.search {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#search {
    height: 30px;
    width: 200px;
    margin: 20px;
    margin-left: 100px;
    border-radius: 5px;
    
}

#button {
    height: 35px;
    width: 30px;
    margin: 20px;
    margin-left: 50px;
    margin-bottom: -55px;
    border-radius: 5px;
   
    
}
.personsDetailPhoto {
    border: 2px solid cornsilk;
    border-radius: 5px;
    
}